:root {
  --violet: #672A4E;
  --gray: #586F7C;
  --blue: #B8DBD9;
  --white: #F4F4F9;
}

* {
  appearance: none;
  text-align: center;
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  margin: 0;
}

h1 {
  font-size: 28px;
  color: var(--violet);
}

h2,h3,h4,h5,h6 {
  font-size: 24px;
  color: var(--white);
}
.header-wrapper, .client-status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0 20px;
}

.header-wrapper {
  background-color: var(--violet);
  max-height: 64px;
}
.client-status-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  top: 0;
  background-color: var(--blue);
  font-size: 16px;
  padding: 10px 0;
}
.client-status-wrapper>button {
  width: 120px;
  height: 32px;
  background-color: var(--violet);
  color: var(--white);
  font-size: 12px;
}
#client-status {
  margin: 0;
}

input, label, button, select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 48px;
  background-color: var(--mint-gray);
  border: none;
  border-radius: 10px;
  font-size: 14px;
}
::placeholder, label, select, option {
  color: var(--gray);
}

label:hover, input:focus-visible, select:focus-visible {
  outline: auto;
  outline-width: 1px;
  outline-color: var(--blue);
}

button {
  background-color: var(--blue);
  color: black;
}

input[type="file"] {
  display: none;
}

body, input, select, option, button {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
  gap: 10px;

}

section {
  max-height: 64px;
  overflow: hidden;
  transition: all 0.3s linear;
}



section.grow {
  max-height: 1000px;
  transition: all 0.3s linear;
}

#note-wrapper {
  overflow-y: scroll;
  max-height: calc(100dvh - 229px);
}

.disabled-section, .disabled-button {
  background-color: var(--gray);
  pointer-events: none;
}

#training-button, #update-show-note-button {
  margin-top: 40px;
}

#note-wrapper, .show-training, .show-exercise, .show-set {
  padding: 0 20px;
}
#note-wrapper * {
  text-align: left;
}
.training-paragraph {
  color: var(--violet);
}

.page-link {
  color: var(--gray);
}